os: osx

env:
  global:
  - MODULE_NAME=com.williamrijksen.onesignal

cache:
  directories:
  - node_modules
  - $HOME/android-ndk-r11c
  - $HOME/Library/Caches/Homebrew
  - $HOME/Library/Application Support/Titanium

before_install:
- MODULE_ROOT=$PWD
- brew update
- brew install nvm
- nvm install 4
- npm config delete prefix
- nvm use --delete-prefix v4.4.7 4
- brew cask uninstall oclint
- brew tap oclint/formulae
- brew install oclint
- oclint -version
- rvm get head

install:
- cd $MODULE_ROOT
- curl -o install.sh https://rawcdn.githack.com/williamrijksen/ci/v8/travis/install.sh
- source install.sh -s "--branch 6_0_X"

before_script:
- curl -o script.sh https://rawcdn.githack.com/williamrijksen/ci/v8/travis/script.sh
- chmod +x script.sh

script:
- MODULE_ROOT=$MODULE_ROOT bash script.sh
- sh -c 'cd ios && xcodebuild -dry-run | tee xcodebuild.log && oclint-xcodebuild && oclint-json-compilation-database'

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: CR7C6WsEVoFF85tIZNm+4cfNKituRab0TtDMPP+n418O/WwE7ZVV19n9uELemdyQflw3sPPyzTdr/0hg7CnDL+dVMCscZPnqkTJszq8WnNYUOGPn1Mismx7SzzCF2KXIQBui0mObQrBh+ii/aTgoVYVjC80dNbsNkzOKShloZgr/51OfKY9rqkkeUW8uMY/A/5Tq2k4X7idz+F/Ndr78wP3d2Z3SGHoq51g7fvnKAsaWJ4CqSVWl23ne8Aqft0o8SfV3Uo3pjPMzs28jGk3jW7PNyHezNNxbvDJdex0E6QSndI6MR0JNJrBp4LskuzdhprsDiwSHnL7jhywwVULhobpRSVltJAwvnkv515rfKuogCuh9WZLhR34d63FZ/JX4q/1t+YBsaUbaTRgoM4/i0+S9YEeCWTo+B8DCZjordHEF3fg4Eevq/eMMijEO6/NCY5aHQJtNkUOJCS1JdYmxmBRkLTHIF+zwN0JvNVMrWOrpImz3V37EL9Fy5EAmJGRATtpn7r63p8jCQuxE5jW6zR8usFAzxJCposRt007KyrRvdQ5odKxgaMm2RORkiAcam1Y1PCmWR5wnTkJGB1D3uVtBZ8+e2eX4UkHAAg3dRMogg9v6tjCyTVkQvkabXxP98Ckdo9Jg1trBC+QVRy76ibb20Sr+ISploRwpwPPjyuY=
  file:
    - $MODULE_ROOT/android/dist/com.williamrijksen.onesignal-android-${TRAVIS_TAG}.zip
    - $MODULE_ROOT/ios/com.williamrijksen.onesignal-iphone-${TRAVIS_TAG}.zip
  on:
    repo: williamrijksen/com.williamrijksen.onesignal
    tags: true

